<h1>Ваш личный аккаунт</h1>
<li>
	<button id="show-adresses">
		<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Addresses">Адреса</a>
		</button>
</li>
<li>
	<button id="show-orders">
		<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Orders">Заказы</a>
		</button>
</li>
<li>
	<button id="show-user-data">
		<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="UserData">Личные данные</a>
		</button>
</li>

<div id="map" style="width: 600px; height: 400px">
	<script src="https://api-maps.yandex.ru/v3/?apikey=14d5fd7e-c7e9-4a58-9c5c-399c81e2ec9f&lang=ru_RU"></script>
</div>
