
<div class="menu-content-wrapper">
	<div class="main-container">
		<div class="header">Добро пожаловать в нашу чайхану!</div>
		<div class="inline-content">
			<div class="main_img">
				<img src="~/Images/main_img.png">
			</div>
			<div class="text-content">Здесь время замедляется, а аромат свежезаваренного чая и восточных специй наполняет воздух. Откройте для себя вкус настоящего гостеприимства — в уютной атмосфере, среди ярких красок и теплых бесед.</div>
		</div>
		<div class="interier-menu">
			<img class="interier" id="interier1" src="~/Images/interier.png">
			<img class="interier" id="interier2" src="~/Images/interier.png">
			<img class="interier" id="interier3" src="~/Images/interier.png">
		</div>
	</div>
</div>
