.menu-content-wrapper {
    position: relative;
    min-height: calc(100vh - 80px); /* Вычитаем высоту header */
    padding-top: 110px; /* Компенсируем top: 110px у visible-category */
    margin-bottom: 150px; /* Для футера */
    display: flex;
    justify-content: center;
}

.content-container {
    /* Rectangle 36 */
    position: relative;
    /*width: calc(100% - 120px);*/
    /*left: calc(100% - 1320px/2);*/
    width: 1320px;
    align-self: center;
    min-height: 820px;
    left: 60px;
    top: -40px;
    background: rgba(249, 251, 250, 0.8);
    border-radius: 29px;
    display: inline-flex;
}

.list-mini-card {
    /* Корзина */
    position: relative;
    width: 703px;
    height: calc(100% - 40px);
    max-height: 780px;
    left: 0px;
    top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mini-card{
    display: inline-flex;
    justify-items: center;

}

.mini-card-name {
    position: relative;
    left: calc(125px/2 + 30px);
    align-self: center;
    /* чебурек */
    
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.quantity {
    position: absolute;
    right: 30px;
    align-self: center;

    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.mini-card-price {
    position: absolute;
    left: 409px;
    align-self: center;
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

::deep .mini-card-img {
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 20px;
    left: 65px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.input-parameters {
    position: relative;
    width: calc(100% - 703px);
    left: 57px;
    display: table-row;
}

.address-name {
    position: relative;
    top: 40px;
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: left;
    white-space: nowrap;
    color: #000000;
}

.address-container {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: #D9D9D9;
    top: 60px;
    border-radius: 20px;
    align-content: center;
}

.address-element {
    position: relative;
    left: 20px;
    padding-bottom: 28px;
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}

#city-element {
    padding-top: 20px;
}

.button-change-address {
    position: relative;
    width: 200px;
    height: 50px;
    top: 80px;
    place-items: center;
    place-content: center;
    background-color: #E67225;
    border-radius: 20px;
    text-align: center;
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.payment-name {
    position: relative;
    top: 110px;
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: left;
    color: #000000;
}

.payment-container {
    position: relative;
    width: 500px;
    height: 150px;
    top: 130px;
    background-color: #D9D9D9;
    border-radius: 20px;
    align-content: center;
}

.payment-method {
    /* Наличная оплата */
    position: relative;
    height: 74px;
    left: 20px;
    text-align: left;
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
    place-content: center;
}

.button-back {
    position: relative;
    width: 200px;
    height: 50px;
    top: 178px;
    background-color: #E67225;
    place-content: center;
    place-items: center;
    text-align: center;

    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height */

    color: #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
}

.button-accept {
    position: relative;
    width: 200px;
    height: 50px;
    top: 128px;
    left: 300px;
    background-color: #E67225;
    place-content: center;
    place-items: center;
    text-align: center;
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height */

    color: #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
}