<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Booking.js" asp-append-version="true"></script>
</head>
<body>
    <div class="menu-content-wrapper">
    <div class="scheme">
        <div class="inline-contaier">
                <div class="walls">
                    <img src="~/resources/Sheme/стены.svg" alt="Стол 2" class="wall">
                    <div class="bar">
                        <img src="~/resources/Sheme/бар.svg" alt="Стол 2">
                    </div>
                    <div class="tables">

                        <svg width="200" height="125" viewBox="0 0 200 125" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Стол 2" class="table" data-table-id="1" style="position: absolute; left: 60px; bottom: 40px; width: 200px; height: 125px; cursor: pointer;">
                            <rect x="58" width="85" height="125" rx="20" fill="#ADADAD" />
                            <rect x="191.667" y="12.5" width="8.33333" height="50" fill="#8D8D8D" />
                            <path d="M150 36.6667C150 25.621 158.954 16.6667 170 16.6667H191.667V58.3334H170C158.954 58.3334 150 49.3791 150 38.3334V36.6667Z" fill="#ADADAD" />
                            <rect x="8.33337" y="119.167" width="8.33333" height="50" transform="rotate(180 8.33337 119.167)" fill="#8D8D8D" />
                            <path d="M50 95C50 106.046 41.0457 115 30 115H8.33333V73.3333H30C41.0457 73.3333 50 82.2876 50 93.3333V95Z" fill="#ADADAD" />
                            <rect x="191.667" y="69.1667" width="8.33333" height="50" fill="#8D8D8D" />
                            <path d="M150 93.3333C150 82.2876 158.954 73.3333 170 73.3333H191.667V115H170C158.954 115 150 106.046 150 95V93.3333Z" fill="#ADADAD" />
                            <rect x="8.33337" y="62.5" width="8.33333" height="50" transform="rotate(180 8.33337 62.5)" fill="#8D8D8D" />
                            <path d="M50 38.3333C50 49.379 41.0457 58.3333 30 58.3333H8.33333V16.6666H30C41.0457 16.6666 50 25.6209 50 36.6666V38.3333Z" fill="#ADADAD" />
                        </svg>
                        <svg width="200" height="125" viewBox="0 0 200 125" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Стол 2" class="table" data-table-id="2" style="position: absolute; left: 360px; bottom: 40px; width: 200px; height: 125px; cursor: pointer;">
                            <rect x="58" width="85" height="125" rx="20" fill="#ADADAD" />
                            <rect x="191.667" y="12.5" width="8.33333" height="50" fill="#8D8D8D" />
                            <path d="M150 36.6667C150 25.621 158.954 16.6667 170 16.6667H191.667V58.3334H170C158.954 58.3334 150 49.3791 150 38.3334V36.6667Z" fill="#ADADAD" />
                            <rect x="8.33337" y="119.167" width="8.33333" height="50" transform="rotate(180 8.33337 119.167)" fill="#8D8D8D" />
                            <path d="M50 95C50 106.046 41.0457 115 30 115H8.33333V73.3333H30C41.0457 73.3333 50 82.2876 50 93.3333V95Z" fill="#ADADAD" />
                            <rect x="191.667" y="69.1667" width="8.33333" height="50" fill="#8D8D8D" />
                            <path d="M150 93.3333C150 82.2876 158.954 73.3333 170 73.3333H191.667V115H170C158.954 115 150 106.046 150 95V93.3333Z" fill="#ADADAD" />
                            <rect x="8.33337" y="62.5" width="8.33333" height="50" transform="rotate(180 8.33337 62.5)" fill="#8D8D8D" />
                            <path d="M50 38.3333C50 49.379 41.0457 58.3333 30 58.3333H8.33333V16.6666H30C41.0457 16.6666 50 25.6209 50 36.6666V38.3333Z" fill="#ADADAD" />
                        </svg>
                        <svg width="200" height="125" viewBox="0 0 200 125" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Стол 2" class="table" data-table-id="3" style="position: absolute; left: 660px; bottom: 40px; width: 200px; height: 125px; cursor: pointer;">
                            <rect x="58" width="85" height="125" rx="20" fill="#ADADAD" />
                            <rect x="191.667" y="12.5" width="8.33333" height="50" fill="#8D8D8D" />
                            <path d="M150 36.6667C150 25.621 158.954 16.6667 170 16.6667H191.667V58.3334H170C158.954 58.3334 150 49.3791 150 38.3334V36.6667Z" fill="#ADADAD" />
                            <rect x="8.33337" y="119.167" width="8.33333" height="50" transform="rotate(180 8.33337 119.167)" fill="#8D8D8D" />
                            <path d="M50 95C50 106.046 41.0457 115 30 115H8.33333V73.3333H30C41.0457 73.3333 50 82.2876 50 93.3333V95Z" fill="#ADADAD" />
                            <rect x="191.667" y="69.1667" width="8.33333" height="50" fill="#8D8D8D" />
                            <path d="M150 93.3333C150 82.2876 158.954 73.3333 170 73.3333H191.667V115H170C158.954 115 150 106.046 150 95V93.3333Z" fill="#ADADAD" />
                            <rect x="8.33337" y="62.5" width="8.33333" height="50" transform="rotate(180 8.33337 62.5)" fill="#8D8D8D" />
                            <path d="M50 38.3333C50 49.379 41.0457 58.3333 30 58.3333H8.33333V16.6666H30C41.0457 16.6666 50 25.6209 50 36.6666V38.3333Z" fill="#ADADAD" />
                        </svg>
                        <svg width="200" height="125" viewBox="0 0 200 125" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Стол 2" class="table" data-table-id="4" style="position: absolute; left: 960px; bottom: 40px; width: 200px; height: 125px; cursor: pointer;">
                            <rect x="58" width="85" height="125" rx="20" fill="#ADADAD" />
                            <rect x="191.667" y="12.5" width="8.33333" height="50" fill="#8D8D8D" />
                            <path d="M150 36.6667C150 25.621 158.954 16.6667 170 16.6667H191.667V58.3334H170C158.954 58.3334 150 49.3791 150 38.3334V36.6667Z" fill="#ADADAD" />
                            <rect x="8.33337" y="119.167" width="8.33333" height="50" transform="rotate(180 8.33337 119.167)" fill="#8D8D8D" />
                            <path d="M50 95C50 106.046 41.0457 115 30 115H8.33333V73.3333H30C41.0457 73.3333 50 82.2876 50 93.3333V95Z" fill="#ADADAD" />
                            <rect x="191.667" y="69.1667" width="8.33333" height="50" fill="#8D8D8D" />
                            <path d="M150 93.3333C150 82.2876 158.954 73.3333 170 73.3333H191.667V115H170C158.954 115 150 106.046 150 95V93.3333Z" fill="#ADADAD" />
                            <rect x="8.33337" y="62.5" width="8.33333" height="50" transform="rotate(180 8.33337 62.5)" fill="#8D8D8D" />
                            <path d="M50 38.3333C50 49.379 41.0457 58.3333 30 58.3333H8.33333V16.6666H30C41.0457 16.6666 50 25.6209 50 36.6666V38.3333Z" fill="#ADADAD" />
                        </svg>
                        <svg width="191" height="60" viewBox="0 0 191 60" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Стол 2" class="table" data-table-id="5" style="position: absolute; left: 503px; top: 40px; width: 191px; height: 60px; cursor: pointer;">
                            <rect width="8.33333" height="50" transform="matrix(-1 0 0 1 8.33325 4.99998)" fill="#8D8D8D" />
                            <path d="M50 29.1666C50 18.121 41.0457 9.16664 30 9.16664L8.33333 9.16664L8.33333 50.8333L30 50.8333C41.0457 50.8333 50 41.879 50 30.8333V29.1666Z" fill="#ADADAD" />
                            <rect width="8.33333" height="50" transform="matrix(1 0 0 -1 182.667 55)" fill="#8D8D8D" />
                            <path d="M141 30.8334C141 41.879 149.954 50.8334 161 50.8334H182.667V9.16669H161C149.954 9.16669 141 18.121 141 29.1667V30.8334Z" fill="#ADADAD" />
                            <rect x="58" y="60" width="60" height="75" rx="20" transform="rotate(-90 58 60)" fill="#ADADAD" />
                        </svg>
                        <svg width="191" height="60" viewBox="0 0 191 60" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Стол 2" class="table" data-table-id="6" style="position: absolute; left: 754px; top: 40px; width: 191px; height: 60px; cursor: pointer;">
                            <rect width="8.33333" height="50" transform="matrix(-1 0 0 1 8.33325 4.99998)" fill="#8D8D8D" />
                            <path d="M50 29.1666C50 18.121 41.0457 9.16664 30 9.16664L8.33333 9.16664L8.33333 50.8333L30 50.8333C41.0457 50.8333 50 41.879 50 30.8333V29.1666Z" fill="#ADADAD" />
                            <rect width="8.33333" height="50" transform="matrix(1 0 0 -1 182.667 55)" fill="#8D8D8D" />
                            <path d="M141 30.8334C141 41.879 149.954 50.8334 161 50.8334H182.667V9.16669H161C149.954 9.16669 141 18.121 141 29.1667V30.8334Z" fill="#ADADAD" />
                            <rect x="58" y="60" width="60" height="75" rx="20" transform="rotate(-90 58 60)" fill="#ADADAD" />
                        </svg>
                        <svg width="191" height="60" viewBox="0 0 191 60" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Стол 2" class="table" data-table-id="7" style="position: absolute; left: 1005px; top: 40px; width: 191px; height: 60px; cursor: pointer;">
                            <rect width="8.33333" height="50" transform="matrix(-1 0 0 1 8.33325 4.99998)" fill="#8D8D8D" />
                            <path d="M50 29.1666C50 18.121 41.0457 9.16664 30 9.16664L8.33333 9.16664L8.33333 50.8333L30 50.8333C41.0457 50.8333 50 41.879 50 30.8333V29.1666Z" fill="#ADADAD" />
                            <rect width="8.33333" height="50" transform="matrix(1 0 0 -1 182.667 55)" fill="#8D8D8D" />
                            <path d="M141 30.8334C141 41.879 149.954 50.8334 161 50.8334H182.667V9.16669H161C149.954 9.16669 141 18.121 141 29.1667V30.8334Z" fill="#ADADAD" />
                            <rect x="58" y="60" width="60" height="75" rx="20" transform="rotate(-90 58 60)" fill="#ADADAD" />
                        </svg>
                        <svg width="200" height="216" viewBox="0 0 200 216" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Стол 2" class="table" data-table-id="8" style="position: absolute; left: 660px; top: 230px; width: 216px; height: 200px; cursor: pointer;">
                            <rect x="5" y="8.33334" width="8.33333" height="50" transform="rotate(-90 5 8.33334)" fill="#8D8D8D" />
                            <path d="M29.1668 50C18.1211 50 9.16675 41.0457 9.16675 30V8.33333H50.8334V30C50.8334 41.0457 41.8791 50 30.8334 50H29.1668Z" fill="#ADADAD" />
                            <rect x="195" y="207.667" width="8.33333" height="50" transform="rotate(90 195 207.667)" fill="#8D8D8D" />
                            <path d="M170.833 166C181.879 166 190.833 174.954 190.833 186V207.667H149.167V186C149.167 174.954 158.121 166 169.167 166H170.833Z" fill="#ADADAD" />
                            <rect x="75" y="8.33334" width="8.33333" height="50" transform="rotate(-90 75 8.33334)" fill="#8D8D8D" />
                            <path d="M99.1668 50C88.1211 50 79.1667 41.0457 79.1667 30V8.33333H120.833V30C120.833 41.0457 111.879 50 100.833 50H99.1668Z" fill="#ADADAD" />
                            <rect x="125" y="207.667" width="8.33333" height="50" transform="rotate(90 125 207.667)" fill="#8D8D8D" />
                            <path d="M100.833 166C111.879 166 120.833 174.954 120.833 186V207.667H79.1666V186C79.1666 174.954 88.1209 166 99.1666 166H100.833Z" fill="#ADADAD" />
                            <rect x="145" y="8.33334" width="8.33333" height="50" transform="rotate(-90 145 8.33334)" fill="#8D8D8D" />
                            <path d="M169.167 50C158.121 50 149.167 41.0457 149.167 30V8.33333H190.833V30C190.833 41.0457 181.879 50 170.833 50H169.167Z" fill="#ADADAD" />
                            <rect x="55" y="207.667" width="8.33333" height="50" transform="rotate(90 55 207.667)" fill="#8D8D8D" />
                            <path d="M30.8332 166C41.8789 166 50.8333 174.954 50.8333 186V207.667H9.16658V186C9.16658 174.954 18.1209 166 29.1666 166H30.8332Z" fill="#ADADAD" />
                            <rect y="158" width="100" height="200" rx="20" transform="rotate(-90 0 158)" fill="#ADADAD" />
                        </svg>
                        <svg width="200" height="216" viewBox="0 0 200 216" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Стол 2" class="table" data-table-id="9" style="position: absolute; left: 960px; top: 230px; width: 216px; height: 200px; cursor: pointer;">
                            <rect x="5" y="8.33334" width="8.33333" height="50" transform="rotate(-90 5 8.33334)" fill="#8D8D8D" />
                            <path d="M29.1668 50C18.1211 50 9.16675 41.0457 9.16675 30V8.33333H50.8334V30C50.8334 41.0457 41.8791 50 30.8334 50H29.1668Z" fill="#ADADAD" />
                            <rect x="195" y="207.667" width="8.33333" height="50" transform="rotate(90 195 207.667)" fill="#8D8D8D" />
                            <path d="M170.833 166C181.879 166 190.833 174.954 190.833 186V207.667H149.167V186C149.167 174.954 158.121 166 169.167 166H170.833Z" fill="#ADADAD" />
                            <rect x="75" y="8.33334" width="8.33333" height="50" transform="rotate(-90 75 8.33334)" fill="#8D8D8D" />
                            <path d="M99.1668 50C88.1211 50 79.1667 41.0457 79.1667 30V8.33333H120.833V30C120.833 41.0457 111.879 50 100.833 50H99.1668Z" fill="#ADADAD" />
                            <rect x="125" y="207.667" width="8.33333" height="50" transform="rotate(90 125 207.667)" fill="#8D8D8D" />
                            <path d="M100.833 166C111.879 166 120.833 174.954 120.833 186V207.667H79.1666V186C79.1666 174.954 88.1209 166 99.1666 166H100.833Z" fill="#ADADAD" />
                            <rect x="145" y="8.33334" width="8.33333" height="50" transform="rotate(-90 145 8.33334)" fill="#8D8D8D" />
                            <path d="M169.167 50C158.121 50 149.167 41.0457 149.167 30V8.33333H190.833V30C190.833 41.0457 181.879 50 170.833 50H169.167Z" fill="#ADADAD" />
                            <rect x="55" y="207.667" width="8.33333" height="50" transform="rotate(90 55 207.667)" fill="#8D8D8D" />
                            <path d="M30.8332 166C41.8789 166 50.8333 174.954 50.8333 186V207.667H9.16658V186C9.16658 174.954 18.1209 166 29.1666 166H30.8332Z" fill="#ADADAD" />
                            <rect y="158" width="100" height="200" rx="20" transform="rotate(-90 0 158)" fill="#ADADAD" />
                        </svg>

                    </div>
                </div>

                <div class="booking-reserved-container">
                    <div class="booking-reserved-header">Занятая бронь:</div>
                    <div class="booking-reserved-array">
                        <div class="booking-reserved-element">Выберите стол!</div>
                    </div>
                </div>
        </div>
        
        

        <div class="button-booking">
            <svg width="209" height="60" viewBox="0 0 209 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <div class="button-booking-text">Забронировать</div>
                <rect width="209" height="60" rx="25" fill="#E67225"/>
                <path d="M29.6141 28.6C29.6141 29.9067 28.7807 30.7067 27.1141 31C28.0741 31.1467 28.7941 31.46 29.2741 31.94C29.7674 32.4067 30.0141 32.9933 30.0141 33.7C30.0141 34.1533 29.9074 34.5733 29.6941 34.96C29.4941 35.3467 29.1674 35.6867 28.7141 35.98C28.2607 36.26 27.6807 36.48 26.9741 36.64C26.2674 36.8133 25.4141 36.9 24.4141 36.9C23.3074 36.9 22.3007 36.7533 21.3941 36.46C20.5007 36.1533 19.7741 35.8 19.2141 35.4L20.0141 34.2C20.5741 34.5467 21.1874 34.8533 21.8541 35.12C22.5207 35.3733 23.3074 35.5 24.2141 35.5C25.2674 35.5 25.9941 35.3333 26.3941 35C26.8074 34.6533 27.0141 34.1533 27.0141 33.5C27.0141 33.0467 26.8474 32.6667 26.5141 32.36C26.1807 32.0533 25.7141 31.9 25.1141 31.9H21.6141V30.5H24.7141C25.3141 30.5 25.7807 30.3467 26.1141 30.04C26.4474 29.72 26.6141 29.3067 26.6141 28.8C26.6141 28.2933 26.4341 27.8867 26.0741 27.58C25.7274 27.26 25.1741 27.1 24.4141 27.1C23.5607 27.1 22.8007 27.2333 22.1341 27.5C21.4807 27.7533 20.8741 28.0533 20.3141 28.4L19.5141 27.2C20.0741 26.8 20.8007 26.4533 21.6941 26.16C22.5874 25.8533 23.5607 25.7 24.6141 25.7C25.4674 25.7 26.2074 25.78 26.8341 25.94C27.4607 26.1 27.9807 26.32 28.3941 26.6C28.8074 26.8667 29.1141 27.1733 29.3141 27.52C29.5141 27.8667 29.6141 28.2267 29.6141 28.6ZM34.6063 33.2C34.6063 34.4667 35.3729 35.1 36.9063 35.1H39.7063V31.3H36.9063C35.3729 31.3 34.6063 31.9333 34.6063 33.2ZM39.7063 29.9C39.7063 28.94 39.4529 28.2333 38.9463 27.78C38.4529 27.3267 37.8063 27.1 37.0063 27.1C36.4063 27.1 35.8196 27.1933 35.2463 27.38C34.6729 27.5533 34.1596 27.7933 33.7063 28.1L33.0063 26.9C33.2996 26.7 33.6196 26.5267 33.9663 26.38C34.3263 26.2333 34.6929 26.1133 35.0663 26.02C35.4396 25.9133 35.8063 25.8333 36.1663 25.78C36.5396 25.7267 36.8863 25.7 37.2063 25.7C38.0596 25.7 38.8129 25.8 39.4663 26C40.1196 26.2 40.6729 26.4867 41.1263 26.86C41.5796 27.2333 41.9196 27.68 42.1463 28.2C42.3863 28.7067 42.5063 29.2733 42.5063 29.9V36.5H36.9063C35.0929 36.5 33.7529 36.2267 32.8863 35.68C32.0329 35.1333 31.6063 34.3067 31.6063 33.2C31.6063 32.0933 32.0329 31.2667 32.8863 30.72C33.7529 30.1733 35.0929 29.9 36.9063 29.9H39.7063ZM50.6969 28.3C50.2969 28.3 49.9169 28.38 49.5569 28.54C49.1969 28.6867 48.8769 28.9133 48.5969 29.22C48.3169 29.5133 48.0969 29.8867 47.9369 30.34C47.7769 30.78 47.6969 31.3 47.6969 31.9C47.6969 32.5267 47.7769 33.0733 47.9369 33.54C48.0969 33.9933 48.3169 34.3733 48.5969 34.68C48.8769 34.9867 49.1969 35.22 49.5569 35.38C49.9169 35.5267 50.2969 35.6 50.6969 35.6C51.0969 35.6 51.4769 35.5267 51.8369 35.38C52.1969 35.22 52.5169 34.9867 52.7969 34.68C53.0769 34.3733 53.2969 33.9933 53.4569 33.54C53.6169 33.0733 53.6969 32.5267 53.6969 31.9C53.6969 31.3 53.6169 30.78 53.4569 30.34C53.2969 29.8867 53.0769 29.5133 52.7969 29.22C52.5169 28.9133 52.1969 28.6867 51.8369 28.54C51.4769 28.38 51.0969 28.3 50.6969 28.3ZM50.8969 26.9C51.7235 26.9 52.4902 27.02 53.1969 27.26C53.9035 27.5 54.5169 27.84 55.0369 28.28C55.5569 28.72 55.9635 29.2467 56.2569 29.86C56.5502 30.4733 56.6969 31.1533 56.6969 31.9C56.6969 32.6467 56.5435 33.3267 56.2369 33.94C55.9435 34.5533 55.5302 35.08 54.9969 35.52C54.4769 35.96 53.8502 36.3 53.1169 36.54C52.3835 36.78 51.5769 36.9 50.6969 36.9C49.8169 36.9 49.0102 36.7733 48.2769 36.52C47.5435 36.28 46.9102 35.9333 46.3769 35.48C45.8569 35.0133 45.4435 34.4467 45.1369 33.78C44.8435 33.1133 44.6969 32.3533 44.6969 31.5V29.2C44.6969 27.1067 45.1969 25.5267 46.1969 24.46C47.1969 23.3933 48.5969 22.7733 50.3969 22.6L55.5969 22.1V24.4L50.5969 24.9C47.7969 25.18 46.3969 26.6133 46.3969 29.2H46.5969C46.9969 28.44 47.5502 27.8667 48.2569 27.48C48.9635 27.0933 49.8435 26.9 50.8969 26.9ZM61.5906 27.5V35.1H64.0906C64.544 35.1 64.9573 35.0333 65.3306 34.9C65.7173 34.7533 66.044 34.5267 66.3106 34.22C66.5906 33.9133 66.804 33.52 66.9506 33.04C67.1106 32.56 67.1906 31.98 67.1906 31.3C67.1906 30.62 67.1106 30.04 66.9506 29.56C66.804 29.08 66.5906 28.6867 66.3106 28.38C66.044 28.0733 65.7173 27.8533 65.3306 27.72C64.9573 27.5733 64.544 27.5 64.0906 27.5H61.5906ZM64.0906 26.1C65.0106 26.1 65.844 26.22 66.5906 26.46C67.3506 26.7 67.9973 27.0467 68.5306 27.5C69.064 27.9533 69.4706 28.5 69.7506 29.14C70.044 29.78 70.1906 30.5 70.1906 31.3C70.1906 32.1 70.044 32.82 69.7506 33.46C69.4706 34.1 69.064 34.6467 68.5306 35.1C67.9973 35.5533 67.3506 35.9 66.5906 36.14C65.844 36.38 65.0106 36.5 64.0906 36.5H61.5906V40.1H58.7906V26.1H64.0906ZM78.082 35.6C78.5087 35.6 78.9087 35.52 79.282 35.36C79.6554 35.2 79.982 34.9533 80.262 34.62C80.542 34.2733 80.762 33.8267 80.922 33.28C81.0954 32.7333 81.182 32.0733 81.182 31.3C81.182 30.5267 81.0954 29.8667 80.922 29.32C80.762 28.7733 80.542 28.3333 80.262 28C79.982 27.6533 79.6554 27.4 79.282 27.24C78.9087 27.08 78.5087 27 78.082 27C77.6554 27 77.2554 27.08 76.882 27.24C76.5087 27.4 76.182 27.6533 75.902 28C75.622 28.3333 75.3954 28.7733 75.222 29.32C75.062 29.8667 74.982 30.5267 74.982 31.3C74.982 32.0733 75.062 32.7333 75.222 33.28C75.3954 33.8267 75.622 34.2733 75.902 34.62C76.182 34.9533 76.5087 35.2 76.882 35.36C77.2554 35.52 77.6554 35.6 78.082 35.6ZM78.082 25.7C78.9754 25.7 79.7954 25.8267 80.542 26.08C81.302 26.32 81.9487 26.68 82.482 27.16C83.0154 27.6267 83.4287 28.2133 83.722 28.92C84.0287 29.6133 84.182 30.4067 84.182 31.3C84.182 32.2067 84.0287 33.0067 83.722 33.7C83.4287 34.3933 83.0154 34.98 82.482 35.46C81.9487 35.9267 81.302 36.28 80.542 36.52C79.7954 36.7733 78.9754 36.9 78.082 36.9C77.1754 36.9 76.3487 36.7733 75.602 36.52C74.8554 36.28 74.2154 35.9267 73.682 35.46C73.1487 34.98 72.7287 34.3933 72.422 33.7C72.1287 33.0067 71.982 32.2067 71.982 31.3C71.982 30.4067 72.1287 29.6133 72.422 28.92C72.7287 28.2133 73.1487 27.6267 73.682 27.16C74.2154 26.68 74.8554 26.32 75.602 26.08C76.3487 25.8267 77.1754 25.7 78.082 25.7ZM97.4859 26.1V36.5H94.6859V31.9H89.2859V36.5H86.4859V26.1H89.2859V30.5H94.6859V26.1H97.4859ZM111.495 26.1V36.5H108.695V28.7H108.495L103.895 36.5H100.295V26.1H103.095V33.9H103.295L107.895 26.1H111.495ZM117.098 27.5V35.1H119.598C120.052 35.1 120.465 35.0333 120.838 34.9C121.225 34.7533 121.552 34.5267 121.818 34.22C122.098 33.9133 122.312 33.52 122.458 33.04C122.618 32.56 122.698 31.98 122.698 31.3C122.698 30.62 122.618 30.04 122.458 29.56C122.312 29.08 122.098 28.6867 121.818 28.38C121.552 28.0733 121.225 27.8533 120.838 27.72C120.465 27.5733 120.052 27.5 119.598 27.5H117.098ZM119.598 26.1C120.518 26.1 121.352 26.22 122.098 26.46C122.858 26.7 123.505 27.0467 124.038 27.5C124.572 27.9533 124.978 28.5 125.258 29.14C125.552 29.78 125.698 30.5 125.698 31.3C125.698 32.1 125.552 32.82 125.258 33.46C124.978 34.1 124.572 34.6467 124.038 35.1C123.505 35.5533 122.858 35.9 122.098 36.14C121.352 36.38 120.518 36.5 119.598 36.5H117.098V40.1H114.298V26.1H119.598ZM133.59 35.6C134.017 35.6 134.417 35.52 134.79 35.36C135.163 35.2 135.49 34.9533 135.77 34.62C136.05 34.2733 136.27 33.8267 136.43 33.28C136.603 32.7333 136.69 32.0733 136.69 31.3C136.69 30.5267 136.603 29.8667 136.43 29.32C136.27 28.7733 136.05 28.3333 135.77 28C135.49 27.6533 135.163 27.4 134.79 27.24C134.417 27.08 134.017 27 133.59 27C133.163 27 132.763 27.08 132.39 27.24C132.017 27.4 131.69 27.6533 131.41 28C131.13 28.3333 130.903 28.7733 130.73 29.32C130.57 29.8667 130.49 30.5267 130.49 31.3C130.49 32.0733 130.57 32.7333 130.73 33.28C130.903 33.8267 131.13 34.2733 131.41 34.62C131.69 34.9533 132.017 35.2 132.39 35.36C132.763 35.52 133.163 35.6 133.59 35.6ZM133.59 25.7C134.483 25.7 135.303 25.8267 136.05 26.08C136.81 26.32 137.457 26.68 137.99 27.16C138.523 27.6267 138.937 28.2133 139.23 28.92C139.537 29.6133 139.69 30.4067 139.69 31.3C139.69 32.2067 139.537 33.0067 139.23 33.7C138.937 34.3933 138.523 34.98 137.99 35.46C137.457 35.9267 136.81 36.28 136.05 36.52C135.303 36.7733 134.483 36.9 133.59 36.9C132.683 36.9 131.857 36.7733 131.11 36.52C130.363 36.28 129.723 35.9267 129.19 35.46C128.657 34.98 128.237 34.3933 127.93 33.7C127.637 33.0067 127.49 32.2067 127.49 31.3C127.49 30.4067 127.637 29.6133 127.93 28.92C128.237 28.2133 128.657 27.6267 129.19 27.16C129.723 26.68 130.363 26.32 131.11 26.08C131.857 25.8267 132.683 25.7 133.59 25.7ZM152.194 29C152.194 29.5067 152.007 29.94 151.634 30.3C151.274 30.66 150.694 30.8933 149.894 31C150.854 31.1467 151.574 31.4533 152.054 31.92C152.547 32.3733 152.794 32.9 152.794 33.5C152.794 33.9267 152.694 34.3267 152.494 34.7C152.307 35.06 152.014 35.3733 151.614 35.64C151.214 35.9067 150.707 36.12 150.094 36.28C149.48 36.4267 148.747 36.5 147.894 36.5H141.994V26.1H147.294C148.147 26.1 148.88 26.18 149.494 26.34C150.107 26.4867 150.614 26.6933 151.014 26.96C151.414 27.2133 151.707 27.52 151.894 27.88C152.094 28.2267 152.194 28.6 152.194 29ZM147.894 35.1C148.494 35.1 148.96 34.9467 149.294 34.64C149.627 34.3333 149.794 33.9533 149.794 33.5C149.794 33.0467 149.627 32.6667 149.294 32.36C148.96 32.0533 148.494 31.9 147.894 31.9H144.794V35.1H147.894ZM147.294 30.5C147.894 30.5 148.36 30.3533 148.694 30.06C149.027 29.7533 149.194 29.4 149.194 29C149.194 28.6 149.027 28.2533 148.694 27.96C148.36 27.6533 147.894 27.5 147.294 27.5H144.794V30.5H147.294ZM157.302 33.2C157.302 34.4667 158.068 35.1 159.602 35.1H162.402V31.3H159.602C158.068 31.3 157.302 31.9333 157.302 33.2ZM162.402 29.9C162.402 28.94 162.148 28.2333 161.642 27.78C161.148 27.3267 160.502 27.1 159.702 27.1C159.102 27.1 158.515 27.1933 157.942 27.38C157.368 27.5533 156.855 27.7933 156.402 28.1L155.702 26.9C155.995 26.7 156.315 26.5267 156.662 26.38C157.022 26.2333 157.388 26.1133 157.762 26.02C158.135 25.9133 158.502 25.8333 158.862 25.78C159.235 25.7267 159.582 25.7 159.902 25.7C160.755 25.7 161.508 25.8 162.162 26C162.815 26.2 163.368 26.4867 163.822 26.86C164.275 27.2333 164.615 27.68 164.842 28.2C165.082 28.7067 165.202 29.2733 165.202 29.9V36.5H159.602C157.788 36.5 156.448 36.2267 155.582 35.68C154.728 35.1333 154.302 34.3067 154.302 33.2C154.302 32.0933 154.728 31.2667 155.582 30.72C156.448 30.1733 157.788 29.9 159.602 29.9H162.402ZM177.091 27.5H172.891V36.5H170.091V27.5H165.891V26.1H177.091V27.5ZM184.493 29.7C186.2 29.7 187.44 30.0067 188.213 30.62C189 31.22 189.393 32.0467 189.393 33.1C189.393 34.1533 189 34.9867 188.213 35.6C187.44 36.2 186.2 36.5 184.493 36.5H178.693V26.1H181.493V29.7H184.493ZM181.493 31.1V35.1H184.493C185.093 35.1 185.56 34.9333 185.893 34.6C186.226 34.2533 186.393 33.7533 186.393 33.1C186.393 32.4467 186.226 31.9533 185.893 31.62C185.56 31.2733 185.093 31.1 184.493 31.1H181.493Z" fill="white"/>
            </svg>
        </div>  

        <div class="button-time">

            <div class="button-time-button" id="button-prev">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="30" cy="30" r="30" transform="rotate(180 30 30)" fill="#E67225"/>
                    <path d="M34 46L18.1778 30.7141" stroke="white" stroke-width="5" stroke-linecap="round"/>
                    <path d="M33.635 14.8112L18.0787 30.3675" stroke="white" stroke-width="5" stroke-linecap="round"/>
                </svg>
            </div>

            <div class="button-time-container">
                <svg width="300" height="60" viewBox="0 0 300 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <div class="button-time-text"></div>
                    <rect width="300" height="60" rx="25" fill="#E67225"/>
                </svg>
            </div>

            <div class="button-time-button" id="button-next">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="30" cy="30" r="30" fill="#E67225"/>
                    <path d="M26 14L41.8222 29.2859" stroke="white" stroke-width="5" stroke-linecap="round"/>
                    <path d="M26.365 45.1888L41.9213 29.6325" stroke="white" stroke-width="5" stroke-linecap="round"/>
                </svg>
            </div>
        </div>

        <div class="calendar" id="calendar-btn">
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="60" height="60" rx="25" fill="#E67225" />
                <g clip-path="url(#clip0_4_187)">
                    <path d="M15.0003 16.6073V10.1786C15.0003 9.29014 15.719 8.57141 16.6076 8.57141C17.4959 8.57141 18.2146 9.29014 18.2146 10.1786V16.6073C18.2146 17.4955 17.4959 18.2142 16.6076 18.2142C15.719 18.2143 15.0003 17.4955 15.0003 16.6073ZM42.322 18.2143C43.21 18.2143 43.9291 17.4956 43.9291 16.6074V10.1786C43.9291 9.29014 43.21 8.57141 42.322 8.57141C41.4336 8.57141 40.7143 9.29014 40.7143 10.1786V16.6073C40.7143 17.4955 41.4336 18.2143 42.322 18.2143ZM60.0001 47.1425C60.0001 54.2436 54.2435 60.0001 47.143 60.0001C40.0431 60.0001 34.286 54.2436 34.286 47.1425C34.286 40.0425 40.0429 34.2857 47.143 34.2857C54.2435 34.2857 60.0001 40.0424 60.0001 47.1425ZM56.7863 47.1425C56.7863 41.8259 52.4607 37.4998 47.1431 37.4998C41.8259 37.4998 37.5004 41.8258 37.5004 47.1425C37.5004 52.4602 41.8259 56.7857 47.1431 56.7857C52.4607 56.7857 56.7863 52.4602 56.7863 47.1425ZM21.429 27.8572H15.0003V34.2857H21.429V27.8572ZM15.0003 43.9286H21.429V37.4998H15.0003V43.9286ZM24.6431 34.2857H31.0719V27.8572H24.6431V34.2857ZM24.6431 43.9286H31.0719V37.4998H24.6431V43.9286ZM11.7862 46.823V24.6428H47.1431V31.0715H50.3575V18.5347C50.3575 16.5822 48.8003 14.9999 46.8764 14.9999H45.536V16.6074C45.536 18.3776 44.0949 19.8216 42.3221 19.8216C40.5487 19.8216 39.1078 18.3776 39.1078 16.6074V14.9999H19.8216V16.6074C19.8216 18.3776 18.3809 19.8216 16.6078 19.8216C14.8342 19.8216 13.3933 18.3776 13.3933 16.6074V14.9999H12.0545C10.1305 14.9999 8.57178 16.5822 8.57178 18.5347V46.8231C8.57178 48.7691 10.1305 50.3575 12.0545 50.3575H31.0719V47.1426H12.0545C11.9088 47.1425 11.7862 46.9921 11.7862 46.823ZM40.7143 34.2857V27.8572H34.2861V34.2857H40.7143ZM51.9646 47.1425H47.143V42.3209C47.143 41.433 46.4243 40.7143 45.5359 40.7143C44.6474 40.7143 43.9291 41.433 43.9291 42.3209V48.7502C43.9291 49.6382 44.6474 50.3574 45.5359 50.3574H51.9646C52.853 50.3574 53.5717 49.6382 53.5717 48.7502C53.5717 47.8618 52.853 47.1425 51.9646 47.1425Z" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_4_187">
                        <rect width="51.4286" height="51.4286" fill="white" transform="translate(8.57153 8.57141)" />
                    </clipPath>
                </defs>
            </svg>
        </div>

        <div class="calendar-dropdown" id="calendar-dropdown">
            <div class="calendar-header">
                <div class="calendar-nav" id="calendar-prev">‹</div>
                <div class="calendar-title" id="calendar-month">Май 2023</div>
                <div class="calendar-nav" id="calendar-next">›</div>
            </div>
            <div class="calendar-grid" id="calendar-days">
                <!-- Дни календаря будут добавлены через JavaScript -->
            </div>
        </div>

        <div class="interval-container">
            <div class="interval-button" id="interval-prev">
                    <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.9214 34.1888L3.09921 18.9029" stroke="white" stroke-width="5" stroke-linecap="round" />
                        <path d="M18.5564 3L3.00005 18.5563" stroke="white" stroke-width="5" stroke-linecap="round" />
                    </svg>
            </div>
            <div class="time-container">2 ч</div>
                <div class="interval-button" id="interval-next">
                    <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 3L18.8222 18.2859" stroke="white" stroke-width="5" stroke-linecap="round" />
                        <path d="M3.36499 34.1888L18.9213 18.6325" stroke="white" stroke-width="5" stroke-linecap="round" />
                    </svg>
            </div>
        </div>

    </div>
    </div>
</body>
</html>

